@import './Global.scss';

/* #region ==================== FONTS ==================== */

@font-face {
	font-family: 'ChaleParNinSix';
	src: url('../fonts/ChaleParNinSix.otf') format("opentype");
	src: url('../fonts/ChaleParNinSix.eot');
	src: url('../fonts/ChaleParNinSix.woff') format('woff'),
	url('../fonts/ChaleParNinSix.svg#-GothaBoo') format('svg');
}

@font-face {
	font-family: 'AnimeAceItalic';
	src: url('../fonts/AnimeAceItalic.otf') format("opentype");
	src: url('../fonts/AnimeAceItalic.eot');
	src: url('../fonts/AnimeAceItalic.woff') format('woff'),
	url('../fonts/AnimeAceItalic.svg#-Italic') format('svg');
}

/* #endregion ==================== FONTS ==================== */


/* #region ==================== GLOBAL ==================== */

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    margin: 0;

    font-family: ChaleParNinSix, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root, #rootContainer {
    margin: 0;
    padding: 0;
}

/* #endregion ==================== GLOBAL ==================== */


.sampleAnimate {
    width: 300px;
    height: 250px;

    display: block;
}
