/* #region ========================= GLOBAL ========================= */

/* #region -------------------- VARIABLES -------------------- */

$body-width: 50vw;
$body-min-width: 820px;
$body-max-width: 960px;

$header-height: 60px;
$navBar-height: 40px;
$workkNav-height: 60px;

@mixin navbgGradient01() { 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    // mix-blend-mode: multiply;
}

@mixin navbgGradient02() { 
    background: rgb(230,230,230);
    background: -moz-linear-gradient(90deg, rgba(230,230,230,0) 0%, rgba(230,230,230,1) 20%, rgba(230,230,230,1) 80%, rgba(230,230,230,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(230,230,230,0) 0%, rgba(230,230,230,1) 20%, rgba(230,230,230,1) 80%, rgba(230,230,230,0) 100%);
    background: linear-gradient(90deg, rgba(230,230,230,0) 0%, rgba(230,230,230,1) 20%, rgba(230,230,230,1) 80%, rgba(230,230,230,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6e6e6",endColorstr="#e6e6e6",GradientType=1);
    mix-blend-mode: multiply;
}

@mixin navbgGradient03() { 
    background: rgb(230,230,230);
    background: -moz-linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(230,230,230,0) 20%, rgba(230,230,230,0) 80%, rgba(230,230,230,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(230,230,230,0) 20%, rgba(230,230,230,0) 80%, rgba(230,230,230,1) 100%);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(230,230,230,0) 20%, rgba(230,230,230,0) 80%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6e6e6",endColorstr="#e6e6e6",GradientType=1);
    mix-blend-mode: multiply;
}


:export {
    bodyWidth: $body-width;
    bodyMinWidth: $body-min-width;
    bodyMaxWidth: $body-max-width;

    headerHeight: $header-height;
    navBarHeight: $navBar-height;
    workkNavHeight: $workkNav-height;
}

/* #endregion -------------------- VARIABLES -------------------- */

/* #region -------------------- BASICS -------------------- */

* {
	margin: 0;
	padding: 0;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

img {
	border: 0;
}

/* #endregion -------------------- BASICS -------------------- */

/* #endregion ========================= GLOBAL ========================= */


/* #region ========================= WRAPPER ========================= */

.wrapper {
    width: 100vw;
}

/* #endregion ========================= WRAPPER ========================= */


/* #region ========================= FULL PAGE ========================= */

.fullPage {
    width: 100vw;
}

/* #endregion ========================= FULL PAGE ========================= */


/* #region ========================= BODY CONATAINER ========================= */

.bodyContainer {
    width: $body-width;
    min-width: $body-min-width;
    max-width: $body-max-width;

    margin: 0 auto;
    padding: 150px 0 0 0;
}

/* #endregion ========================= BODY CONATAINER ========================= */
